<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
  <title>html form</title>
</head>
<body>
<div class="subscribe-container">
  <p>1. Get the google auth url: <a href="/auth/google/url">AuthURL</a>
  <p>2. Login with google auth url: <a href="<%= url %>">AuthURL</a>
  <p>3. Who am I after logging in <a href="/auth/me">Who</a>
</div>
</body>
</html>